[Unit]
Description=The Xen xenstore
Requires=xenstored_ro.socket xenstored.socket proc-xen.mount var-lib-xenstored.mount
After=proc-xen.mount var-lib-xenstored.mount
Before=libvirtd.service libvirt-guests.service
RefuseManualStop=true
ConditionPathExists=/proc/xen/capabilities

[Service]
Type=notify
Environment=XENSTORED_ARGS=
Environment=XENSTORED=/usr/local/sbin/oxenstored
EnvironmentFile=-/etc/sysconfig/xencommons
ExecStartPre=/bin/grep -q control_d /proc/xen/capabilities
ExecStartPre=-/bin/rm -f /var/lib/xenstored/tdb*
ExecStartPre=/bin/mkdir -p /var/run/xen
ExecStart=/bin/sh -c "exec $XENSTORED --no-fork $XENSTORED_ARGS"

[Install]
WantedBy=multi-user.target
Also=xenstored_ro.socket xenstored.socket
Also=proc-xen.mount
Also=var-lib-xenstored.mount
